<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Spring Potluck - Options</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  	  <h1>Spring Potluck</h1>
      <h4>Options:</h4>
      <ul>
      	<li>A - Add student to potluck</li>
      	<li>D - Delete student from potluck</li>
      	<li>L - List potluck participants</li>
      </ul>
      <br />
      <form action="#" th:action="@{/}" method="post">
      		
      	  <p>Choice: <input type="text" th:field="${WebData.choice}" /></p>
          
<!--           <p>Name: <input type="text" th:field="${S.name}" /></p> -->
<!--           <p>Food: <input type="text" th:field="${S.food}" /></p> -->

          <p><input type="submit" value="Submit" /> </p>
          
      </form>
  </body>
</html>
